body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 4rem;
  margin: 0;
  background-color: black;
  color: grey;
  user-select: none;
  pointer-events: none;
}

@media only screen and (min-width: 1px) {
  body {
    font-size: 1rem;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  body {
    font-size: 1.5rem;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  body {
    font-size: 3rem;
  }
}

@media only screen and (mim-height: 600) {
  body {
    font-size: 3rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  body {
    font-size: 4rem;
  }
}

.container {
  min-height: 100vh;
  max-width: 768px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.bullet {
  position: absolute;
  text-align: center;
  vertical-align: center;
}

.bullet-1 {
  top: 10px;
  left: 10px;
}

.bullet-2 {
  bottom: 10px;
  left: 10px;
}

.bullet-3 {
  bottom: 10px;
  right: 10px;
}

.bullet-4 {
  top: 10px;
  right: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 4px;
}

.active {
  color: white;
  text-shadow: 0 0 2px #ffffff;
}
